openapi: 3.2.0
info:
  title: Jungle Currencies API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: Currencies
paths:
  /currencies:
    parameters: []
    get:
      operationId: currencies_list
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currency'
      tags:
      - Currencies
      summary: Currencies list
      x-summary-source: derived
  /currencies/convert:
    parameters: []
    get:
      operationId: currencies_convert
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - yearly
          - monthly
      - name: currency
        in: query
        required: true
        schema:
          type: string
          minLength: 1
      - name: value
        in: query
        required: true
        schema:
          type: number
          maximum: 1000000000
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currency'
      tags:
      - Currencies
      summary: Currencies convert
      x-summary-source: derived
components:
  schemas:
    Currency:
      title: Salary currency
      required:
      - title
      - name
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        title:
          title: Title
          type: string
          minLength: 1
        name:
          title: Name
          type: string
          minLength: 1
        rates:
          title: Rates
          type: string
          readOnly: true
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
