openapi: 3.2.0
info:
  title: Jungle Login API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: Login
paths:
  /login:
    parameters: []
    post:
      operationId: login_create
      description: ''
      responses:
        '200':
          description: Respond with jwt access&refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnJWTTokens'
      tags:
      - Login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
        required: true
      summary: Login create
      x-summary-source: derived
components:
  schemas:
    ReturnJWTTokens:
      required:
      - access_token
      - refresh_token
      type: object
      properties:
        access_token:
          title: Access token
          type: string
          minLength: 1
        refresh_token:
          title: Refresh token
          type: string
          minLength: 1
    Login:
      required:
      - email
      - password
      type: object
      properties:
        email:
          title: Email
          type: string
          minLength: 1
        password:
          title: Password
          type: string
          minLength: 1
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
