openapi: 3.2.0
info:
  title: Jungle Forgot API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: Forgot
paths:
  /forgot:
    parameters: []
    post:
      operationId: forgot_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
      tags:
      - Forgot
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Email'
        required: true
      summary: Forgot create
      x-summary-source: derived
  /forgot/confirm:
    parameters: []
    post:
      operationId: forgot_confirm_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPasswordToken'
      tags:
      - Forgot
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPasswordToken'
        required: true
      summary: Forgot confirm create
      x-summary-source: derived
  /forgot/validate_token:
    parameters: []
    post:
      operationId: forgot_validate_token_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetToken'
      tags:
      - Forgot
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetToken'
        required: true
      summary: Forgot validate token create
      x-summary-source: derived
components:
  schemas:
    ResetToken:
      required:
      - token
      type: object
      properties:
        token:
          title: Token
          type: string
          minLength: 1
    Email:
      required:
      - email
      type: object
      properties:
        email:
          title: Email
          type: string
          format: email
          minLength: 1
    CustomPasswordToken:
      required:
      - password
      - token
      type: object
      properties:
        password:
          title: Password
          type: string
          minLength: 1
        token:
          title: Token
          type: string
          minLength: 1
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
