openapi: 3.2.0
info:
  title: Jungle User Block API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: user_block
paths:
  /user_block:
    parameters: []
    post:
      operationId: user_block_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserBlock'
      tags:
      - user_block
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserBlock'
        required: true
      summary: User block create
      x-summary-source: derived
  /user_block/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user block.
      required: true
      schema:
        type: integer
    delete:
      operationId: user_block_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - user_block
      summary: User block delete
      x-summary-source: derived
components:
  schemas:
    UserBlock:
      required:
      - blocked_user
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        blocked_user:
          title: Blocked user
          type: integer
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
        block:
          title: Block
          type: boolean
          readOnly: true
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
