openapi: 3.2.0
info:
  title: Jungle Profile API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: Profile
paths:
  /profile:
    parameters: []
    get:
      operationId: profile_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobSeekerProfile'
      tags:
      - Profile
      summary: Profile list
      x-summary-source: derived
    post:
      operationId: profile_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSeekerProfile'
      tags:
      - Profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobSeekerProfile'
        required: true
      summary: Profile create
      x-summary-source: derived
  /profile/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this job seeker profile.
      required: true
      schema:
        type: integer
    get:
      operationId: profile_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSeekerProfile'
      tags:
      - Profile
      summary: Profile read
      x-summary-source: derived
    put:
      operationId: profile_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSeekerProfile'
      tags:
      - Profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobSeekerProfile'
        required: true
      summary: Profile update
      x-summary-source: derived
    patch:
      operationId: profile_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSeekerProfile'
      tags:
      - Profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobSeekerProfile'
        required: true
      summary: Profile partial update
      x-summary-source: derived
    delete:
      operationId: profile_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Profile
      summary: Profile delete
      x-summary-source: derived
components:
  schemas:
    JobSeekerProfile:
      required:
      - full_time
      - part_time
      - freelance
      - internship
      - open_to_remote_work
      - working_status
      - user
      - soft_skills
      - technical_skills
      - languages
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        custom_fields:
          title: Custom fields
          type: string
        created_at:
          title: Creation time
          type: string
          format: date-time
        updated_at:
          title: Update time
          type: string
          format: date-time
          readOnly: true
        full_time:
          title: Full time
          type: boolean
        part_time:
          title: Part time
          type: boolean
        freelance:
          title: Freelance
          type: boolean
        internship:
          title: Internship
          type: boolean
        open_to_remote_work:
          title: Open to remote work
          type: boolean
        working_status:
          title: Working status
          type: string
          enum:
          - student
          - graduate
          - experienced
        working_years:
          title: Working years
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        only_market_value:
          title: Only market value
          type: boolean
        open_to_opportunity:
          title: Open to opportunity
          type:
          - boolean
          - 'null'
        market_value_only:
          title: Market value only
          type: boolean
        open_to_relocate:
          title: Open to relocate
          type: boolean
        country_to_relocate:
          title: Country to relocate
          type: boolean
        step_news_subscription:
          title: Step news subscription
          type:
          - boolean
          - 'null'
        looking_for_work:
          title: Looking for work
          type: boolean
        all_countries:
          title: All countries
          type: boolean
        first_job_match:
          title: First job match
          type: boolean
        created_by:
          title: Creator
          type:
          - integer
          - 'null'
        updated_by:
          title: Editor
          type:
          - integer
          - 'null'
        user:
          title: User
          type: integer
        job_title:
          title: Job title
          type:
          - integer
          - 'null'
        values:
          title: Values
          type:
          - integer
          - 'null'
        personalities:
          title: Personalities
          type:
          - integer
          - 'null'
        matches:
          title: Matches
          type:
          - integer
          - 'null'
        soft_skills:
          type: array
          items:
            type: integer
          uniqueItems: true
        technical_skills:
          type: array
          items:
            type: integer
          uniqueItems: true
        languages:
          type: array
          items:
            type: integer
          uniqueItems: true
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
