openapi: 3.2.0
info:
  title: Jungle Notifications API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: Notifications
paths:
  /notifications:
    parameters: []
    get:
      operationId: notifications_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: read
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
      tags:
      - Notifications
      summary: Notifications list
      x-summary-source: derived
  /notifications/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this notification.
      required: true
      schema:
        type: integer
    get:
      operationId: notifications_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
      tags:
      - Notifications
      summary: Notifications read
      x-summary-source: derived
components:
  schemas:
    Notification:
      required:
      - message
      - type
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        title:
          title: Title
          type: string
          readOnly: true
        message:
          title: Message
          type: string
          minLength: 1
        read:
          title: Read
          type: boolean
        created_at:
          title: Created at
          type: string
          format: date-time
        type:
          title: Type
          type: string
          enum:
          - recruiter_new_message
          - recruiter_new_talent
          - recruiter_new_match
          - recruiter_no_application_yet
          - candidate_new_message
          - candidate_new_opportunity
          - candidate_call_to_update
          - candidate_market_changed
          - candidate_new_match
          - partial_match_accepted
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
