openapi: 3.2.0
info:
  title: Jungle Companies API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: Companies
paths:
  /companies:
    parameters: []
    get:
      operationId: companies_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Company'
      tags:
      - Companies
      summary: Companies list
      x-summary-source: derived
    post:
      operationId: companies_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
      tags:
      - Companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company'
        required: true
      summary: Companies create
      x-summary-source: derived
  /companies/all:
    parameters: []
    get:
      operationId: companies_companies_for_employment
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Company'
      tags:
      - Companies
      summary: Companies companies for employment
      x-summary-source: derived
  /companies/list:
    parameters: []
    get:
      operationId: companies_companies_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Company'
      tags:
      - Companies
      summary: Companies companies list
      x-summary-source: derived
  /companies/media:
    parameters: []
    get:
      operationId: companies_media_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: company__title
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReturnCompanyMedia'
      tags:
      - Companies
      summary: Companies media list
      x-summary-source: derived
    post:
      operationId: companies_media_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCompanyMedia'
      tags:
      - Companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyMedia'
        required: true
      summary: Companies media create
      x-summary-source: derived
  /companies/media/list:
    parameters: []
    get:
      operationId: companies_media_companies_media_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: company__title
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReturnCompanyMedia'
      tags:
      - Companies
      summary: Companies media companies media list
      x-summary-source: derived
  /companies/media/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this company media.
      required: true
      schema:
        type: integer
    get:
      operationId: companies_media_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCompanyMedia'
      tags:
      - Companies
      summary: Companies media read
      x-summary-source: derived
    put:
      operationId: companies_media_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCompanyMedia'
      tags:
      - Companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyMedia'
        required: true
      summary: Companies media update
      x-summary-source: derived
    patch:
      operationId: companies_media_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCompanyMedia'
      tags:
      - Companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyMedia'
        required: true
      summary: Companies media partial update
      x-summary-source: derived
    delete:
      operationId: companies_media_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Companies
      summary: Companies media delete
      x-summary-source: derived
  /companies/{title}:
    parameters:
    - name: title
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: companies_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
      tags:
      - Companies
      summary: Companies read
      x-summary-source: derived
    put:
      operationId: companies_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
      tags:
      - Companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company'
        required: true
      summary: Companies update
      x-summary-source: derived
    patch:
      operationId: companies_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
      tags:
      - Companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company'
        required: true
      summary: Companies partial update
      x-summary-source: derived
    delete:
      operationId: companies_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Companies
      summary: Companies delete
      x-summary-source: derived
components:
  schemas:
    Company:
      required:
      - title
      - years
      - description
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        title:
          title: Title
          type: string
          maxLength: 190
          minLength: 1
        image:
          title: Image
          type:
          - string
          - 'null'
          readOnly: true
          format: uri
        years:
          title: Years
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        len_employers:
          type: array
          items:
            title: Len employers
            type: integer
            maximum: 2147483647
            minimum: -2147483648
        description:
          title: Description
          type: string
          minLength: 1
        website:
          title: Website
          type:
          - string
          - 'null'
          maxLength: 300
          minLength: 1
    CompanyMedia:
      required:
      - company
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        company:
          title: Company
          type: integer
        file:
          title: File
          type: string
          readOnly: true
          format: uri
    ReturnCompanyMedia:
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        company:
          title: Company
          type: string
          readOnly: true
        file:
          title: File
          type: string
          readOnly: true
          format: uri
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
