openapi: 3.2.0
info:
  title: Jungle Me API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: Me
paths:
  /me:
    parameters: []
    get:
      operationId: me_list
      description: ''
      responses:
        '200':
          description: ''
      tags:
      - Me
      summary: Me list
      x-summary-source: derived
    patch:
      operationId: me_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Step'
      tags:
      - Me
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Step'
        required: true
      summary: Me partial update
      x-summary-source: derived
  /me/counts:
    parameters: []
    get:
      operationId: me_counts_list
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Counts'
      tags:
      - Me
      summary: Me counts list
      x-summary-source: derived
components:
  schemas:
    Step:
      required:
      - step
      type: object
      properties:
        step:
          title: Step
          type: string
          enum:
          - personal_information
          - verification
          - company_details
          - current_role_and_skills
          - work_experience
          - role_details
          - values_and_personality
          - compensation
          - match_rates
          - profile_summary
          - completed
    Counts:
      required:
      - notifications
      - messages
      type: object
      properties:
        notifications:
          title: Notifications
          type: integer
        messages:
          title: Messages
          type: integer
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
