openapi: 3.2.0
info:
  title: Jungle Fields API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: Fields
paths:
  /fields/{step}:
    parameters:
    - name: step
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: fields_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCustomField'
      tags:
      - Fields
      summary: Fields read
      x-summary-source: derived
components:
  schemas:
    ReturnCustomField:
      required:
      - field_type
      type: object
      properties:
        field:
          title: Field
          type: string
        field_type:
          title: Field type
          type: string
          enum:
          - input
          - toggle
          - text
          - single_selection
          - slider
          - multiple_selection
          - range_selection
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
