openapi: 3.2.0
info:
  title: Jungle Roles API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: Roles
paths:
  /roles:
    parameters: []
    get:
      operationId: roles_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReturnJobCategoryRole'
      tags:
      - Roles
      summary: Roles list
      x-summary-source: derived
    post:
      operationId: roles_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnJobCategoryRole'
      tags:
      - Roles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobRole'
        required: true
      summary: Roles create
      x-summary-source: derived
  /roles/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this job role.
      required: true
      schema:
        type: integer
    get:
      operationId: roles_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnJobCategoryRole'
      tags:
      - Roles
      summary: Roles read
      x-summary-source: derived
    put:
      operationId: roles_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnJobCategoryRole'
      tags:
      - Roles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobRole'
        required: true
      summary: Roles update
      x-summary-source: derived
    patch:
      operationId: roles_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnJobCategoryRole'
      tags:
      - Roles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobRole'
        required: true
      summary: Roles partial update
      x-summary-source: derived
    delete:
      operationId: roles_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Roles
      summary: Roles delete
      x-summary-source: derived
components:
  schemas:
    ReturnJobCategoryRole:
      required:
      - title
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        title:
          title: Title
          type: string
          maxLength: 300
          minLength: 1
        items:
          title: Items
          type: string
          readOnly: true
    JobRole:
      required:
      - title
      type: object
      properties:
        title:
          title: Title
          type: string
          maxLength: 300
          minLength: 1
        status:
          title: Status
          type: string
          enum:
          - accepted
          - declined
          - pending
        category:
          title: Category
          type:
          - integer
          - 'null'
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
