openapi: 3.2.0
info:
  title: Jungle Devices API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: Devices
paths:
  /devices/:
    parameters: []
    get:
      operationId: devices_list
      description: ''
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/FCMDevice'
      tags:
      - Devices
      summary: Devices list
      x-summary-source: derived
    post:
      operationId: devices_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FCMDevice'
      tags:
      - Devices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FCMDevice'
        required: true
      summary: Devices create
      x-summary-source: derived
  /devices/{id}/:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this FCM device.
      required: true
      schema:
        type: integer
    get:
      operationId: devices_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FCMDevice'
      tags:
      - Devices
      summary: Devices read
      x-summary-source: derived
    put:
      operationId: devices_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FCMDevice'
      tags:
      - Devices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FCMDevice'
        required: true
      summary: Devices update
      x-summary-source: derived
    patch:
      operationId: devices_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FCMDevice'
      tags:
      - Devices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FCMDevice'
        required: true
      summary: Devices partial update
      x-summary-source: derived
    delete:
      operationId: devices_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Devices
      summary: Devices delete
      x-summary-source: derived
components:
  schemas:
    FCMDevice:
      required:
      - registration_id
      - type
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        name:
          title: Name
          type:
          - string
          - 'null'
          maxLength: 255
        registration_id:
          title: Registration token
          type: string
          minLength: 1
        device_id:
          title: Device ID
          description: Unique device identifier
          type:
          - string
          - 'null'
          maxLength: 150
        active:
          title: Is active
          description: Inactive devices will not be sent notifications
          type: boolean
          default: true
        date_created:
          title: Creation date
          type: string
          format: date-time
          readOnly: true
        type:
          title: Type
          type: string
          enum:
          - ios
          - android
          - web
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
