openapi: 3.2.0
info:
  title: Jungle Admin API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: Admin
paths:
  /admin/companies:
    parameters: []
    get:
      operationId: admin_companies_list
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: jobs
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__date
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__gte
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__lte
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__gt
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__lt
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: country
        in: query
        description: ''
        required: false
        schema:
          type: number
      - name: city
        in: query
        description: ''
        required: false
        schema:
          type: number
      - name: len_employers
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: external_recruiter
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: in_house_recruiter
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminCompany'
            text/csv:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminCompany'
      tags:
      - Admin
      summary: Admin companies list
      x-summary-source: derived
  /admin/companies/jobs/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this company.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_companies_jobs_retrieve
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminReturnJobRetrieve'
            text/csv:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminReturnJobRetrieve'
      tags:
      - Admin
      summary: Admin companies jobs retrieve
      x-summary-source: derived
  /admin/companies/jobs/{id}/match-rates:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this company.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_companies_jobs_job_match_rates
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminCompany'
            text/csv:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminCompany'
      tags:
      - Admin
      summary: Admin companies jobs job match rates
      x-summary-source: derived
  /admin/companies/jobs/{id}/values-personality:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this company.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_companies_jobs_job_values_personality
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminCompany'
            text/csv:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminCompany'
      tags:
      - Admin
      summary: Admin companies jobs job values personality
      x-summary-source: derived
  /admin/companies/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this company.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_companies_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCompany'
            text/csv:
              schema:
                $ref: '#/components/schemas/AdminCompany'
      tags:
      - Admin
      summary: Admin companies read
      x-summary-source: derived
    delete:
      operationId: admin_companies_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Admin
      summary: Admin companies delete
      x-summary-source: derived
  /admin/companies/{id}/companies:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this company.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_companies_companies
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCompanyChild'
            text/csv:
              schema:
                $ref: '#/components/schemas/AdminCompanyChild'
      tags:
      - Admin
      summary: Admin companies companies
      x-summary-source: derived
  /admin/companies/{id}/jobs:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this company.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_companies_jobs
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCompanyJobs'
            text/csv:
              schema:
                $ref: '#/components/schemas/AdminCompanyJobs'
      tags:
      - Admin
      summary: Admin companies jobs
      x-summary-source: derived
  /admin/companies/{id}/owner:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this company.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_companies_company_owner
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminEmployer'
            text/csv:
              schema:
                $ref: '#/components/schemas/AdminEmployer'
      tags:
      - Admin
      summary: Admin companies company owner
      x-summary-source: derived
  /admin/credits/request:
    parameters: []
    get:
      operationId: admin_credits_request_list
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminCreditRequest'
      tags:
      - Admin
      summary: Admin credits request list
      x-summary-source: derived
    post:
      operationId: admin_credits_request_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCreditRequest'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreditRequest'
        required: true
      summary: Admin credits request create
      x-summary-source: derived
  /admin/credits/request/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user credit request.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_credits_request_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCreditRequest'
      tags:
      - Admin
      summary: Admin credits request read
      x-summary-source: derived
    put:
      operationId: admin_credits_request_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCreditRequest'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreditRequest'
        required: true
      summary: Admin credits request update
      x-summary-source: derived
    patch:
      operationId: admin_credits_request_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCreditRequest'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreditRequest'
        required: true
      summary: Admin credits request partial update
      x-summary-source: derived
    delete:
      operationId: admin_credits_request_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Admin
      summary: Admin credits request delete
      x-summary-source: derived
  /admin/database/disciplines:
    parameters: []
    get:
      operationId: admin_database_disciplines_list
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__date
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__gte
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__lte
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__gt
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__lt
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReturnDiscipline'
            text/csv:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReturnDiscipline'
      tags:
      - Admin
      summary: Admin database disciplines list
      x-summary-source: derived
    post:
      operationId: admin_database_disciplines_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnDiscipline'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnDiscipline'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnDiscipline'
        required: true
      summary: Admin database disciplines create
      x-summary-source: derived
  /admin/database/disciplines/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this discipline.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_database_disciplines_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnDiscipline'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnDiscipline'
      tags:
      - Admin
      summary: Admin database disciplines read
      x-summary-source: derived
    put:
      operationId: admin_database_disciplines_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnDiscipline'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnDiscipline'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnDiscipline'
        required: true
      summary: Admin database disciplines update
      x-summary-source: derived
    patch:
      operationId: admin_database_disciplines_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnDiscipline'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnDiscipline'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnDiscipline'
        required: true
      summary: Admin database disciplines partial update
      x-summary-source: derived
    delete:
      operationId: admin_database_disciplines_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Admin
      summary: Admin database disciplines delete
      x-summary-source: derived
  /admin/database/disciplines/{id}/replace:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this discipline.
      required: true
      schema:
        type: integer
    post:
      operationId: admin_database_disciplines_replace
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Replace'
        required: true
      summary: Admin database disciplines replace
      x-summary-source: derived
  /admin/database/roles:
    parameters: []
    get:
      operationId: admin_database_roles_list
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__date
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__gte
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__lte
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__gt
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__lt
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReturnAdminJobRole'
            text/csv:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReturnAdminJobRole'
      tags:
      - Admin
      summary: Admin database roles list
      x-summary-source: derived
    post:
      operationId: admin_database_roles_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnAdminJobRole'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnAdminJobRole'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobRole'
        required: true
      summary: Admin database roles create
      x-summary-source: derived
  /admin/database/roles-categories:
    parameters: []
    get:
      operationId: admin_database_roles-categories_list
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: created_at__date
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__gte
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__lte
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__gt
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__lt
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReturnAdminJobRoleCategory'
            text/csv:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReturnAdminJobRoleCategory'
      tags:
      - Admin
      summary: Admin database roles categories list
      x-summary-source: derived
    post:
      operationId: admin_database_roles-categories_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnAdminJobRoleCategory'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnAdminJobRoleCategory'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnAdminJobRoleCategory'
        required: true
      summary: Admin database roles categories create
      x-summary-source: derived
  /admin/database/roles-categories/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this role category.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_database_roles-categories_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnAdminJobRoleCategory'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnAdminJobRoleCategory'
      tags:
      - Admin
      summary: Admin database roles categories read
      x-summary-source: derived
    put:
      operationId: admin_database_roles-categories_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnAdminJobRoleCategory'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnAdminJobRoleCategory'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnAdminJobRoleCategory'
        required: true
      summary: Admin database roles categories update
      x-summary-source: derived
    patch:
      operationId: admin_database_roles-categories_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnAdminJobRoleCategory'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnAdminJobRoleCategory'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnAdminJobRoleCategory'
        required: true
      summary: Admin database roles categories partial update
      x-summary-source: derived
    delete:
      operationId: admin_database_roles-categories_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Admin
      summary: Admin database roles categories delete
      x-summary-source: derived
  /admin/database/roles/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this job role.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_database_roles_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnAdminJobRole'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnAdminJobRole'
      tags:
      - Admin
      summary: Admin database roles read
      x-summary-source: derived
    put:
      operationId: admin_database_roles_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnAdminJobRole'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnAdminJobRole'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobRole'
        required: true
      summary: Admin database roles update
      x-summary-source: derived
    patch:
      operationId: admin_database_roles_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnAdminJobRole'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnAdminJobRole'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobRole'
        required: true
      summary: Admin database roles partial update
      x-summary-source: derived
    delete:
      operationId: admin_database_roles_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Admin
      summary: Admin database roles delete
      x-summary-source: derived
  /admin/database/roles/{id}/replace:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this job role.
      required: true
      schema:
        type: integer
    post:
      operationId: admin_database_roles_replace
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Replace'
        required: true
      summary: Admin database roles replace
      x-summary-source: derived
  /admin/database/skill-categories:
    parameters: []
    get:
      operationId: admin_database_skill-categories_list
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: created_at__date
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__gte
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__lte
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__gt
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__lt
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SkillCategory'
            text/csv:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SkillCategory'
      tags:
      - Admin
      summary: Admin database skill categories list
      x-summary-source: derived
    post:
      operationId: admin_database_skill-categories_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillCategory'
            text/csv:
              schema:
                $ref: '#/components/schemas/SkillCategory'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkillCategory'
        required: true
      summary: Admin database skill categories create
      x-summary-source: derived
  /admin/database/skill-categories/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this skill category.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_database_skill-categories_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillCategory'
            text/csv:
              schema:
                $ref: '#/components/schemas/SkillCategory'
      tags:
      - Admin
      summary: Admin database skill categories read
      x-summary-source: derived
    put:
      operationId: admin_database_skill-categories_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillCategory'
            text/csv:
              schema:
                $ref: '#/components/schemas/SkillCategory'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkillCategory'
        required: true
      summary: Admin database skill categories update
      x-summary-source: derived
    patch:
      operationId: admin_database_skill-categories_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillCategory'
            text/csv:
              schema:
                $ref: '#/components/schemas/SkillCategory'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkillCategory'
        required: true
      summary: Admin database skill categories partial update
      x-summary-source: derived
    delete:
      operationId: admin_database_skill-categories_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Admin
      summary: Admin database skill categories delete
      x-summary-source: derived
  /admin/database/skills:
    parameters: []
    get:
      operationId: admin_database_skills_list
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__date
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__gte
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__lte
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__gt
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__lt
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Skill'
            text/csv:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Skill'
      tags:
      - Admin
      summary: Admin database skills list
      x-summary-source: derived
    post:
      operationId: admin_database_skills_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
            text/csv:
              schema:
                $ref: '#/components/schemas/Skill'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Skill'
        required: true
      summary: Admin database skills create
      x-summary-source: derived
  /admin/database/skills/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this skill.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_database_skills_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
            text/csv:
              schema:
                $ref: '#/components/schemas/Skill'
      tags:
      - Admin
      summary: Admin database skills read
      x-summary-source: derived
    put:
      operationId: admin_database_skills_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
            text/csv:
              schema:
                $ref: '#/components/schemas/Skill'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Skill'
        required: true
      summary: Admin database skills update
      x-summary-source: derived
    patch:
      operationId: admin_database_skills_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
            text/csv:
              schema:
                $ref: '#/components/schemas/Skill'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Skill'
        required: true
      summary: Admin database skills partial update
      x-summary-source: derived
    delete:
      operationId: admin_database_skills_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Admin
      summary: Admin database skills delete
      x-summary-source: derived
  /admin/database/skills/{id}/replace:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this skill.
      required: true
      schema:
        type: integer
    post:
      operationId: admin_database_skills_replace
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Replace'
        required: true
      summary: Admin database skills replace
      x-summary-source: derived
  /admin/fields:
    parameters: []
    get:
      operationId: admin_fields_list
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: step
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: field_type
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: device
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: priority
        in: query
        description: ''
        required: false
        schema:
          type: number
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminField'
      tags:
      - Admin
      summary: Admin fields list
      x-summary-source: derived
    post:
      operationId: admin_fields_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminField'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomField'
        required: true
      summary: Admin fields create
      x-summary-source: derived
  /admin/fields/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this custom field.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_fields_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminField'
      tags:
      - Admin
      summary: Admin fields read
      x-summary-source: derived
    put:
      operationId: admin_fields_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminField'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomField'
        required: true
      summary: Admin fields update
      x-summary-source: derived
    patch:
      operationId: admin_fields_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminField'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomField'
        required: true
      summary: Admin fields partial update
      x-summary-source: derived
    delete:
      operationId: admin_fields_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Admin
      summary: Admin fields delete
      x-summary-source: derived
  /admin/files:
    parameters: []
    get:
      operationId: admin_files_list
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: id
        in: query
        description: ''
        required: false
        schema:
          type: number
      - name: name
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_by
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminBackgroundTask'
            text/csv:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminBackgroundTask'
      tags:
      - Admin
      summary: Admin files list
      x-summary-source: derived
    post:
      operationId: admin_files_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminBackgroundTask'
            text/csv:
              schema:
                $ref: '#/components/schemas/AdminBackgroundTask'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminBackgroundTask'
        required: true
      summary: Admin files create
      x-summary-source: derived
  /admin/files/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this admin background task.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_files_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminBackgroundTask'
            text/csv:
              schema:
                $ref: '#/components/schemas/AdminBackgroundTask'
      tags:
      - Admin
      summary: Admin files read
      x-summary-source: derived
    put:
      operationId: admin_files_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminBackgroundTask'
            text/csv:
              schema:
                $ref: '#/components/schemas/AdminBackgroundTask'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminBackgroundTask'
        required: true
      summary: Admin files update
      x-summary-source: derived
    patch:
      operationId: admin_files_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminBackgroundTask'
            text/csv:
              schema:
                $ref: '#/components/schemas/AdminBackgroundTask'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminBackgroundTask'
        required: true
      summary: Admin files partial update
      x-summary-source: derived
    delete:
      operationId: admin_files_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Admin
      summary: Admin files delete
      x-summary-source: derived
  /admin/jobs:
    parameters: []
    get:
      operationId: admin_jobs_list
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: review
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: is_active
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminJob'
            text/csv:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminJob'
      tags:
      - Admin
      summary: Admin jobs list
      x-summary-source: derived
  /admin/jobs/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this job.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_jobs_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnJobRetrieve'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnJobRetrieve'
      tags:
      - Admin
      summary: Admin jobs read
      x-summary-source: derived
    put:
      operationId: admin_jobs_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminJob'
            text/csv:
              schema:
                $ref: '#/components/schemas/AdminJob'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminJob'
        required: true
      summary: Admin jobs update
      x-summary-source: derived
    patch:
      operationId: admin_jobs_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminJob'
            text/csv:
              schema:
                $ref: '#/components/schemas/AdminJob'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminJob'
        required: true
      summary: Admin jobs partial update
      x-summary-source: derived
    delete:
      operationId: admin_jobs_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Admin
      summary: Admin jobs delete
      x-summary-source: derived
  /admin/jobs/{id}/email_recruiter:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this job.
      required: true
      schema:
        type: integer
    post:
      operationId: admin_jobs_email_recruiter
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminEmailJobRecruiter'
            text/csv:
              schema:
                $ref: '#/components/schemas/AdminEmailJobRecruiter'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminEmailJobRecruiter'
        required: true
      summary: Admin jobs email recruiter
      x-summary-source: derived
  /admin/jobs/{id}/review:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this job.
      required: true
      schema:
        type: integer
    patch:
      operationId: admin_jobs_review
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminJob'
            text/csv:
              schema:
                $ref: '#/components/schemas/AdminJob'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminJobReview'
        required: true
      summary: Admin jobs review
      x-summary-source: derived
  /admin/stats/users:
    parameters: []
    get:
      operationId: admin_stats_users_list
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: role
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminUserSummary'
            text/csv:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminUserSummary'
      tags:
      - Admin
      summary: Admin stats users list
      x-summary-source: derived
  /admin/stats/users/from_db:
    parameters: []
    post:
      operationId: admin_stats_users_summary_from_db
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnAdminStats'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnAdminStats'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnAdminStats'
        required: true
      summary: Admin stats users summary from db
      x-summary-source: derived
  /admin/stats/users/summary:
    parameters: []
    post:
      operationId: admin_stats_users_summary
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminBackgroundTask'
            text/csv:
              schema:
                $ref: '#/components/schemas/AdminBackgroundTask'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminBackgroundTask'
        required: true
      summary: Admin stats users summary
      x-summary-source: derived
  /admin/user_block:
    parameters: []
    get:
      operationId: admin_user_block_list
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: block
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminUserBlock'
      tags:
      - Admin
      summary: Admin user block list
      x-summary-source: derived
    post:
      operationId: admin_user_block_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserBlock'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserBlock'
        required: true
      summary: Admin user block create
      x-summary-source: derived
  /admin/user_block/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user block.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_user_block_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserBlock'
      tags:
      - Admin
      summary: Admin user block read
      x-summary-source: derived
    put:
      operationId: admin_user_block_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserBlock'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserBlock'
        required: true
      summary: Admin user block update
      x-summary-source: derived
    patch:
      operationId: admin_user_block_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserBlock'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserBlock'
        required: true
      summary: Admin user block partial update
      x-summary-source: derived
    delete:
      operationId: admin_user_block_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Admin
      summary: Admin user block delete
      x-summary-source: derived
  /admin/user_report:
    parameters: []
    get:
      operationId: admin_user_report_list
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: reason
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminUserReport'
      tags:
      - Admin
      summary: Admin user report list
      x-summary-source: derived
    post:
      operationId: admin_user_report_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserReport'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserReport'
        required: true
      summary: Admin user report create
      x-summary-source: derived
  /admin/user_report/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user report.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_user_report_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserReport'
      tags:
      - Admin
      summary: Admin user report read
      x-summary-source: derived
    put:
      operationId: admin_user_report_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserReport'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserReport'
        required: true
      summary: Admin user report update
      x-summary-source: derived
    patch:
      operationId: admin_user_report_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserReport'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserReport'
        required: true
      summary: Admin user report partial update
      x-summary-source: derived
    delete:
      operationId: admin_user_report_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Admin
      summary: Admin user report delete
      x-summary-source: derived
  /admin/users:
    parameters: []
    get:
      operationId: admin_users_list
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: country
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: city
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: is_blocked
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: role
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__date
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__gte
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__lte
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__gt
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: created_at__lt
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminUser'
            text/csv:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminUser'
      tags:
      - Admin
      summary: Admin users list
      x-summary-source: derived
  /admin/users/employments:
    parameters: []
    get:
      operationId: admin_users_employments_list
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: date_joined
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: role
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReturnUserEmployment'
            text/csv:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReturnUserEmployment'
      tags:
      - Admin
      summary: Admin users employments list
      x-summary-source: derived
    post:
      operationId: admin_users_employments_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnUserEmployment'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnUserEmployment'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserEmployment'
        required: true
      summary: Admin users employments create
      x-summary-source: derived
  /admin/users/employments/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user employment.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_users_employments_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnUserEmployment'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnUserEmployment'
      tags:
      - Admin
      summary: Admin users employments read
      x-summary-source: derived
    put:
      operationId: admin_users_employments_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnUserEmployment'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnUserEmployment'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserEmployment'
        required: true
      summary: Admin users employments update
      x-summary-source: derived
    patch:
      operationId: admin_users_employments_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnUserEmployment'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnUserEmployment'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserEmployment'
        required: true
      summary: Admin users employments partial update
      x-summary-source: derived
    delete:
      operationId: admin_users_employments_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Admin
      summary: Admin users employments delete
      x-summary-source: derived
  /admin/users/employments/{id}/review:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user employment.
      required: true
      schema:
        type: integer
    patch:
      operationId: admin_users_employments_review
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnUserEmployment'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnUserEmployment'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserEmployment'
        required: true
      summary: Admin users employments review
      x-summary-source: derived
  /admin/users/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_users_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUser'
            text/csv:
              schema:
                $ref: '#/components/schemas/AdminUser'
      tags:
      - Admin
      summary: Admin users read
      x-summary-source: derived
    delete:
      operationId: admin_users_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Admin
      summary: Admin users delete
      x-summary-source: derived
  /admin/users/{id}/add-credits:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user.
      required: true
      schema:
        type: integer
    patch:
      operationId: admin_users_add_credits
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCredit'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnCredit'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCredit'
        required: true
      summary: Admin users add credits
      x-summary-source: derived
  /admin/users/{id}/block:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user.
      required: true
      schema:
        type: integer
    post:
      operationId: admin_users_block
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUser'
            text/csv:
              schema:
                $ref: '#/components/schemas/AdminUser'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuccessResponse'
        required: true
      summary: Admin users block
      x-summary-source: derived
  /admin/users/{id}/extra-information:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_users_extra_information
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCandidateExtraInformation'
            text/csv:
              schema:
                $ref: '#/components/schemas/AdminCandidateExtraInformation'
      tags:
      - Admin
      summary: Admin users extra information
      x-summary-source: derived
  /admin/users/{id}/match-rates:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_users_match_rates
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileStepMatchRate'
            text/csv:
              schema:
                $ref: '#/components/schemas/MobileStepMatchRate'
      tags:
      - Admin
      summary: Admin users match rates
      x-summary-source: derived
  /admin/users/{id}/messages:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_users_messenger_list
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnMessenger'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReturnMessenger'
      tags:
      - Admin
      summary: Admin users messenger list
      x-summary-source: derived
  /admin/users/{id}/personal-information:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_users_personal_information
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StepPersonalInformation'
            text/csv:
              schema:
                $ref: '#/components/schemas/StepPersonalInformation'
      tags:
      - Admin
      summary: Admin users personal information
      x-summary-source: derived
  /admin/users/{id}/unblock:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user.
      required: true
      schema:
        type: integer
    post:
      operationId: admin_users_unblock
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUser'
            text/csv:
              schema:
                $ref: '#/components/schemas/AdminUser'
      tags:
      - Admin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuccessResponse'
        required: true
      summary: Admin users unblock
      x-summary-source: derived
  /admin/users/{id}/values-personality:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user.
      required: true
      schema:
        type: integer
    get:
      operationId: admin_users_values_personality
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StepPersonalInformation'
            text/csv:
              schema:
                $ref: '#/components/schemas/StepPersonalInformation'
      tags:
      - Admin
      summary: Admin users values personality
      x-summary-source: derived
components:
  schemas:
    ReturnCompanyJob:
      title: Company
      required:
      - title
      - years
      - description
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        title:
          title: Title
          type: string
          maxLength: 190
          minLength: 1
        years:
          title: Years
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        len_employers:
          type: array
          items:
            title: Len employers
            type: integer
            maximum: 2147483647
            minimum: -2147483648
        description:
          title: Description
          type: string
          minLength: 1
        website:
          title: Website
          type:
          - string
          - 'null'
          maxLength: 300
          minLength: 1
    AdminEmailJobRecruiter:
      required:
      - subject
      - message
      type: object
      properties:
        subject:
          title: Subject
          type: string
          minLength: 1
        message:
          title: Message
          type: string
          minLength: 1
    AdminJobReview:
      required:
      - description
      type: object
      properties:
        review:
          title: Review
          type:
          - string
          - 'null'
          enum:
          - accepted
          - declined
          - pending
        description:
          title: Description
          type: string
          minLength: 1
        send_email:
          title: Send email
          type: boolean
          default: false
    Currency:
      title: Salary currency
      required:
      - title
      - name
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        title:
          title: Title
          type: string
          minLength: 1
        name:
          title: Name
          type: string
          minLength: 1
        rates:
          title: Rates
          type: string
          readOnly: true
    ReturnUserBaseChat:
      title: Candidate
      required:
      - working_years
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        nickname:
          title: Nickname
          type: string
          readOnly: true
        name:
          title: Name
          type: string
          readOnly: true
        image:
          title: Image
[...]
