swagger: '2.0'
info:
  title: Jungle admin devices API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
host: api.nobueno.com
basePath: /api
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: devices
paths:
  /devices/:
    parameters: []
    get:
      operationId: devices_list
      description: ''
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/FCMDevice'
      tags:
      - devices
    post:
      operationId: devices_create
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/FCMDevice'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/FCMDevice'
      tags:
      - devices
  /devices/{id}/:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this FCM device.
      required: true
      type: integer
    get:
      operationId: devices_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/FCMDevice'
      tags:
      - devices
    put:
      operationId: devices_update
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/FCMDevice'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/FCMDevice'
      tags:
      - devices
    patch:
      operationId: devices_partial_update
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/FCMDevice'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/FCMDevice'
      tags:
      - devices
    delete:
      operationId: devices_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
      - devices
definitions:
  FCMDevice:
    required:
    - registration_id
    - type
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      name:
        title: Name
        type: string
        maxLength: 255
        x-nullable: true
      registration_id:
        title: Registration token
        type: string
        minLength: 1
      device_id:
        title: Device ID
        description: Unique device identifier
        type: string
        maxLength: 150
        x-nullable: true
      active:
        title: Is active
        description: Inactive devices will not be sent notifications
        type: boolean
        default: true
      date_created:
        title: Creation date
        type: string
        format: date-time
        readOnly: true
      type:
        title: Type
        type: string
        enum:
        - ios
        - android
        - web
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
  Device-type:
    type: apiKey
    name: Device-Type
    in: header
  x-scheme:
    type: apiKey
    name: x-scheme
    in: header
  x-app-id:
    type: apiKey
    name: x-app-id
    in: header
  REFETCH_SCHEMA_WITH_AUTH: true
