openapi: 3.2.0
info:
  title: Jungle Review API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: Review
paths:
  /review:
    parameters: []
    get:
      operationId: review_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Review'
      tags:
      - Review
      summary: Review list
      x-summary-source: derived
    post:
      operationId: review_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
      tags:
      - Review
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Review'
        required: true
      summary: Review create
      x-summary-source: derived
  /review/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this review.
      required: true
      schema:
        type: integer
    get:
      operationId: review_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
      tags:
      - Review
      summary: Review read
      x-summary-source: derived
    put:
      operationId: review_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
      tags:
      - Review
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Review'
        required: true
      summary: Review update
      x-summary-source: derived
    patch:
      operationId: review_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
      tags:
      - Review
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Review'
        required: true
      summary: Review partial update
      x-summary-source: derived
    delete:
      operationId: review_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Review
      summary: Review delete
      x-summary-source: derived
components:
  schemas:
    Review:
      type: object
      properties:
        rating:
          title: Rating
          type: number
        description:
          title: Description
          type:
          - string
          - 'null'
          minLength: 1
        relevant_match:
          title: Relevant match
          type: number
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
