openapi: 3.2.0
info:
  title: Jungle Cities API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: Cities
paths:
  /cities:
    parameters: []
    get:
      operationId: cities_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/City'
      tags:
      - Cities
      summary: Cities list
      x-summary-source: derived
  /cities/autocomplete:
    parameters: []
    get:
      operationId: cities_autocomplete
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Autocomplete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Autocomplete'
      tags:
      - Cities
      summary: Cities autocomplete
      x-summary-source: derived
  /cities/list:
    parameters: []
    get:
      operationId: cities_list_dropdown
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/CityList'
      tags:
      - Cities
      summary: Cities list dropdown
      x-summary-source: derived
  /cities/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this city.
      required: true
      schema:
        type: integer
    get:
      operationId: cities_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/City'
      tags:
      - Cities
      summary: Cities read
      x-summary-source: derived
components:
  schemas:
    CityList:
      required:
      - value
      - label
      type: object
      properties:
        value:
          title: Value
          type: integer
        label:
          title: Label
          type: string
          minLength: 1
        code:
          title: Code
          type: string
          readOnly: true
    City:
      required:
      - title
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        title:
          title: Title
          type: string
          maxLength: 200
          minLength: 1
    Autocomplete:
      required:
      - items
      type: object
      properties:
        items:
          type: array
          items:
            type: string
            minLength: 1
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
