swagger: '2.0'
info:
  title: Jungle admin matches API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
host: api.nobueno.com
basePath: /api
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: matches
paths:
  /matches:
    parameters: []
    get:
      operationId: matches_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Match'
      tags:
      - matches
    post:
      operationId: matches_create
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/Match'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Match'
      tags:
      - matches
  /matches/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this match.
      required: true
      type: integer
    get:
      operationId: matches_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Match'
      tags:
      - matches
    put:
      operationId: matches_update
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/Match'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Match'
      tags:
      - matches
    patch:
      operationId: matches_partial_update
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/Match'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Match'
      tags:
      - matches
    delete:
      operationId: matches_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
      - matches
definitions:
  Match:
    type: object
    properties:
      values_match:
        title: Values match
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      personalities_match:
        title: Personalities match
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      technical_skill:
        title: Technical skill
        type: integer
        maximum: 2147483647
        minimum: -2147483648
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
  Device-type:
    type: apiKey
    name: Device-Type
    in: header
  x-scheme:
    type: apiKey
    name: x-scheme
    in: header
  x-app-id:
    type: apiKey
    name: x-app-id
    in: header
  REFETCH_SCHEMA_WITH_AUTH: true
