openapi: 3.2.0
info:
  title: Jungle Skill Categories API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: Skill Categories
paths:
  /skill-categories:
    parameters: []
    get:
      operationId: skill-categories_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SkillCategory'
      tags:
      - Skill Categories
      summary: Skill categories list
      x-summary-source: derived
  /skill-categories/list:
    parameters: []
    get:
      operationId: skill-categories_list_dropdown
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SkillCategory'
      tags:
      - Skill Categories
      summary: Skill categories list dropdown
      x-summary-source: derived
  /skill-categories/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this skill category.
      required: true
      schema:
        type: integer
    get:
      operationId: skill-categories_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillCategory'
      tags:
      - Skill Categories
      summary: Skill categories read
      x-summary-source: derived
components:
  schemas:
    SkillCategory:
      required:
      - title
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        title:
          title: Title
          type: string
          maxLength: 300
          minLength: 1
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
