swagger: '2.0'
info:
  title: Jungle admin work-experience API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
host: api.nobueno.com
basePath: /api
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: work-experience
paths:
  /work-experience:
    parameters: []
    get:
      operationId: work-experience_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/JobSeekerWorkExperience'
      tags:
      - work-experience
    post:
      operationId: work-experience_create
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/JobSeekerWorkExperience'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/JobSeekerWorkExperience'
      tags:
      - work-experience
  /work-experience/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this job seeker work experience.
      required: true
      type: integer
    get:
      operationId: work-experience_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JobSeekerWorkExperience'
      tags:
      - work-experience
    put:
      operationId: work-experience_update
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/JobSeekerWorkExperience'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JobSeekerWorkExperience'
      tags:
      - work-experience
    patch:
      operationId: work-experience_partial_update
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/JobSeekerWorkExperience'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/JobSeekerWorkExperience'
      tags:
      - work-experience
    delete:
      operationId: work-experience_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
      - work-experience
definitions:
  JobSeekerWorkExperience:
    required:
    - title
    - company
    - start_date
    type: object
    properties:
      id:
        title: Id
        type: integer
      created_at:
        title: Created at
        type: string
        format: date-time
        readOnly: true
      title:
        title: Title
        type: string
        maxLength: 300
        minLength: 1
      company:
        title: Company
        type: string
        maxLength: 190
        minLength: 1
      start_date:
        title: Start date
        type: string
        format: date
      end_date:
        title: End date
        type: string
        format: date
        x-nullable: true
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
  Device-type:
    type: apiKey
    name: Device-Type
    in: header
  x-scheme:
    type: apiKey
    name: x-scheme
    in: header
  x-app-id:
    type: apiKey
    name: x-app-id
    in: header
  REFETCH_SCHEMA_WITH_AUTH: true
