swagger: '2.0'
info:
  title: Jungle admin roles API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
host: api.nobueno.com
basePath: /api
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: roles
paths:
  /roles:
    parameters: []
    get:
      operationId: roles_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/ReturnJobCategoryRole'
      tags:
      - roles
    post:
      operationId: roles_create
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/JobRole'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ReturnJobCategoryRole'
      tags:
      - roles
  /roles/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this job role.
      required: true
      type: integer
    get:
      operationId: roles_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ReturnJobCategoryRole'
      tags:
      - roles
    put:
      operationId: roles_update
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/JobRole'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ReturnJobCategoryRole'
      tags:
      - roles
    patch:
      operationId: roles_partial_update
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/JobRole'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ReturnJobCategoryRole'
      tags:
      - roles
    delete:
      operationId: roles_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
      - roles
definitions:
  ReturnJobCategoryRole:
    required:
    - title
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      title:
        title: Title
        type: string
        maxLength: 300
        minLength: 1
      items:
        title: Items
        type: string
        readOnly: true
  JobRole:
    required:
    - title
    type: object
    properties:
      title:
        title: Title
        type: string
        maxLength: 300
        minLength: 1
      status:
        title: Status
        type: string
        enum:
        - accepted
        - declined
        - pending
      category:
        title: Category
        type: integer
        x-nullable: true
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
  Device-type:
    type: apiKey
    name: Device-Type
    in: header
  x-scheme:
    type: apiKey
    name: x-scheme
    in: header
  x-app-id:
    type: apiKey
    name: x-app-id
    in: header
  REFETCH_SCHEMA_WITH_AUTH: true
