openapi: 3.2.0
info:
  title: Jungle Languages API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: Languages
paths:
  /languages:
    parameters: []
    get:
      operationId: languages_list
      description: ''
      parameters:
      - name: ordering
        in: query
        description: Which field to use when ordering the results.
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: title
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Language'
      tags:
      - Languages
      summary: Languages list
      x-summary-source: derived
components:
  schemas:
    Language:
      required:
      - title
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        title:
          title: Title
          type: string
          maxLength: 300
          minLength: 1
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
