swagger: '2.0'
info:
  title: Jungle admin countries API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
host: api.nobueno.com
basePath: /api
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: countries
paths:
  /countries:
    parameters: []
    get:
      operationId: countries_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/CountryWithoutCities'
      tags:
      - countries
  /countries/list:
    parameters: []
    get:
      operationId: countries_list_action
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      - name: autocomplete
        in: query
        required: false
        type: string
        minLength: 1
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/CountryList'
      tags:
      - countries
definitions:
  CountryList:
    required:
    - value
    - label
    - code
    type: object
    properties:
      value:
        title: Value
        type: integer
      label:
        title: Label
        type: string
        minLength: 1
      items:
        title: Items
        type: string
        readOnly: true
      code:
        title: Code
        type: string
        maxLength: 2
        minLength: 1
  CountryWithoutCities:
    required:
    - value
    - label
    - code
    type: object
    properties:
      value:
        title: Value
        type: integer
      label:
        title: Label
        type: string
        minLength: 1
      code:
        title: Code
        type: string
        maxLength: 2
        minLength: 1
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
  Device-type:
    type: apiKey
    name: Device-Type
    in: header
  x-scheme:
    type: apiKey
    name: x-scheme
    in: header
  x-app-id:
    type: apiKey
    name: x-app-id
    in: header
  REFETCH_SCHEMA_WITH_AUTH: true
