swagger: '2.0'
info:
  title: Jungle admin user_report API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
host: api.nobueno.com
basePath: /api
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: user_report
paths:
  /user_report:
    parameters: []
    post:
      operationId: user_report_create
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/UserReport'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/UserReport'
      tags:
      - user_report
definitions:
  UserReport:
    required:
    - reason
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      reason:
        title: Reason
        type: string
        enum:
        - unresponsive
        - abusive_and_or_inappropriate
        - spam
        - fraud_or_scam
        - other
      description:
        title: Description
        type: string
        minLength: 1
        x-nullable: true
      created_at:
        title: Created at
        type: string
        format: date-time
        readOnly: true
      status:
        title: Status
        type: string
        enum:
        - accepted
        - declined
        - pending
        readOnly: true
      reported_user:
        title: Reported user
        type: integer
        x-nullable: true
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
  Device-type:
    type: apiKey
    name: Device-Type
    in: header
  x-scheme:
    type: apiKey
    name: x-scheme
    in: header
  x-app-id:
    type: apiKey
    name: x-app-id
    in: header
  REFETCH_SCHEMA_WITH_AUTH: true
