openapi: 3.2.0
info:
  title: Jungle Skills API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: Skills
paths:
  /skills:
    parameters: []
    get:
      operationId: skills_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReturnSkill'
      tags:
      - Skills
      summary: Skills list
      x-summary-source: derived
    post:
      operationId: skills_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnSkill'
      tags:
      - Skills
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Skill'
        required: true
      summary: Skills create
      x-summary-source: derived
  /skills/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this skill.
      required: true
      schema:
        type: integer
    get:
      operationId: skills_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnSkill'
      tags:
      - Skills
      summary: Skills read
      x-summary-source: derived
    put:
      operationId: skills_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnSkill'
      tags:
      - Skills
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Skill'
        required: true
      summary: Skills update
      x-summary-source: derived
    patch:
      operationId: skills_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnSkill'
      tags:
      - Skills
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Skill'
        required: true
      summary: Skills partial update
      x-summary-source: derived
    delete:
      operationId: skills_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Skills
      summary: Skills delete
      x-summary-source: derived
  /skills/{id}/notify:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this skill.
      required: true
      schema:
        type: integer
    patch:
      operationId: skills_notify
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnSkill'
      tags:
      - Skills
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Skill'
        required: true
      summary: Skills notify
      x-summary-source: derived
components:
  schemas:
    ReturnSkill:
      required:
      - title
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        title:
          title: Title
          type: string
          maxLength: 300
          minLength: 1
        items:
          title: Items
          type: string
          readOnly: true
    Skill:
      required:
      - title
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        title:
          title: Title
          type: string
          maxLength: 300
          minLength: 1
        status:
          title: Status
          type: string
          enum:
          - accepted
          - declined
          - pending
        type:
          title: Type
          type: string
          enum:
          - technical
          - soft
          default: technical
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
        reason:
          title: Reason
          type: string
          minLength: 1
        category_id:
          title: Category id
          type: string
          readOnly: true
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
