swagger: '2.0'
info:
  title: Jungle admin notifications API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
host: api.nobueno.com
basePath: /api
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: notifications
paths:
  /notifications:
    parameters: []
    get:
      operationId: notifications_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        type: string
      - name: read
        in: query
        description: ''
        required: false
        type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
            - count
            - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Notification'
      tags:
      - notifications
  /notifications/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this notification.
      required: true
      type: integer
    get:
      operationId: notifications_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Notification'
      tags:
      - notifications
definitions:
  Notification:
    required:
    - message
    - type
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      title:
        title: Title
        type: string
        readOnly: true
      message:
        title: Message
        type: string
        minLength: 1
      read:
        title: Read
        type: boolean
      created_at:
        title: Created at
        type: string
        format: date-time
      type:
        title: Type
        type: string
        enum:
        - recruiter_new_message
        - recruiter_new_talent
        - recruiter_new_match
        - recruiter_no_application_yet
        - candidate_new_message
        - candidate_new_opportunity
        - candidate_call_to_update
        - candidate_market_changed
        - candidate_new_match
        - partial_match_accepted
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
  Device-type:
    type: apiKey
    name: Device-Type
    in: header
  x-scheme:
    type: apiKey
    name: x-scheme
    in: header
  x-app-id:
    type: apiKey
    name: x-app-id
    in: header
  REFETCH_SCHEMA_WITH_AUTH: true
