openapi: 3.2.0
info:
  title: Jungle Messages API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: Messages
paths:
  /messages:
    parameters: []
    get:
      operationId: messages_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReturnMessenger'
      tags:
      - Messages
      summary: Messages list
      x-summary-source: derived
    post:
      operationId: messages_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnMessenger'
      tags:
      - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Messenger'
        required: true
      summary: Messages create
      x-summary-source: derived
  /messages/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user messenger.
      required: true
      schema:
        type: integer
    get:
      operationId: messages_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnChat'
      tags:
      - Messages
      summary: Messages read
      x-summary-source: derived
    put:
      operationId: messages_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnMessenger'
      tags:
      - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Messenger'
        required: true
      summary: Messages update
      x-summary-source: derived
    patch:
      operationId: messages_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnMessenger'
      tags:
      - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Messenger'
        required: true
      summary: Messages partial update
      x-summary-source: derived
    delete:
      operationId: messages_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Messages
      summary: Messages delete
      x-summary-source: derived
  /messages/{id}/read_messages:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user messenger.
      required: true
      schema:
        type: integer
    post:
      operationId: messages_read_messages
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnMessenger'
      tags:
      - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Messenger'
        required: true
      summary: Messages read messages
      x-summary-source: derived
  /messages/{id}/retrieve:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user messenger.
      required: true
      schema:
        type: integer
    get:
      operationId: messages_retrieve_messenger
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnMessenger'
      tags:
      - Messages
      summary: Messages retrieve messenger
      x-summary-source: derived
  /messages/{id}/review:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user messenger.
      required: true
      schema:
        type: integer
    post:
      operationId: messages_review
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      tags:
      - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Review'
        required: true
      summary: Messages review
      x-summary-source: derived
  /messages/{id}/send-message:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user messenger.
      required: true
      schema:
        type: integer
    post:
      operationId: messages_send_message
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowUploadFiles'
      tags:
      - Messages
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: string
                    minLength: 1
                message:
                  type: string
      summary: Messages send message
      x-summary-source: derived
components:
  schemas:
    ShowUploadFiles:
      type: object
      properties:
        files:
          type:
          - array
          - 'null'
          items:
            description: here is a file
            type: string
            minLength: 1
        message:
          title: Message
          type:
          - string
          - 'null'
    Messenger:
      required:
      - job
      - candidate
      - employer
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        employer_review:
          title: Employer review
          type: boolean
        employer_hide_image:
          title: Employer hide image
          type: boolean
        candidate_review:
          title: Candidate review
          type: boolean
        candidate_hide_image:
          title: Candidate hide image
          type: boolean
        job:
          title: Job
          type: integer
        candidate:
          title: Candidate
          type: integer
        employer:
          title: Employer
          type: integer
    SuccessResponse:
      required:
      - message
      type: object
      properties:
        success:
          title: Success
          type: boolean
          default: true
        message:
          title: success message
          type: string
          minLength: 1
    ReturnUserBaseChat:
      title: Candidate
      required:
      - working_years
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        nickname:
          title: Nickname
          type: string
          readOnly: true
        name:
          title: Name
          type: string
          readOnly: true
        image:
          title: Image
          type:
          - string
          - 'null'
          readOnly: true
          format: uri
        working_years:
          title: Working years
          type: integer
        language:
          title: Language
          type: string
          enum:
          - en
          - es
          - ar
          - ur
          - fr
    ReturnMessenger:
      required:
      - candidate
      - employer
      - job
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        candidate:
          $ref: '#/components/schemas/ReturnUserBaseChat'
        employer:
          $ref: '#/components/schemas/ReturnUserBaseChatEmployer'
        job:
          $ref: '#/components/schemas/ReturnJobBase'
        employer_review:
          title: Employer review
          type: boolean
        candidate_review:
          title: Candidate review
          type: boolean
        unread_messages:
          title: Unread messages
          type: string
          readOnly: true
    ReturnUserBaseChatEmployer:
      title: Employer
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        nickname:
          title: Nickname
          type: string
          readOnly: true
        name:
          title: Name
          type: string
          readOnly: true
        image:
          title: Image
          type:
          - string
          - 'null'
          readOnly: true
          format: uri
        language:
          title: Language
          type: string
          enum:
          - en
          - es
          - ar
          - ur
          - fr
    Review:
      type: object
      properties:
        rating:
          title: Rating
          type: number
        description:
          title: Description
          type:
          - string
          - 'null'
          minLength: 1
        relevant_match:
          title: Relevant match
          type: number
    Attachment:
      required:
      - title
      - type
      - size
      type: object
      properties:
        path:
          title: Path
          type: string
          readOnly: true
          format: uri
        title:
          title: Title
          type: string
          maxLength: 300
          minLength: 1
        type:
          title: Type
          type: string
          maxLength: 100
          minLength: 1
        size:
          title: Size
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        extension:
          title: Extension
          type: string
          readOnly: true
    ReturnJobBase:
      title: Job
      required:
      - title
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        title:
          title: Title
          type: string
          minLength: 1
        company:
          title: Company
          type: string
          readOnly: true
    ReturnChat:
      required:
      - message
      - attachments
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        message:
          title: Message
          type: string
          minLength: 1
        created_at:
          title: Created at
          type: string
          format: date-time
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
        user_to:
          title: User to
          type: string
          readOnly: true
        user_from:
          title: User from
          type: string
          readOnly: true
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
