openapi: 3.2.0
info:
  title: Jungle Countries API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: Countries
paths:
  /countries:
    parameters: []
    get:
      operationId: countries_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/CountryWithoutCities'
      tags:
      - Countries
      summary: Countries list
      x-summary-source: derived
  /countries/list:
    parameters: []
    get:
      operationId: countries_list_action
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: autocomplete
        in: query
        required: false
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/CountryList'
      tags:
      - Countries
      summary: Countries list action
      x-summary-source: derived
components:
  schemas:
    CountryWithoutCities:
      required:
      - value
      - label
      - code
      type: object
      properties:
        value:
          title: Value
          type: integer
        label:
          title: Label
          type: string
          minLength: 1
        code:
          title: Code
          type: string
          maxLength: 2
          minLength: 1
    CountryList:
      required:
      - value
      - label
      - code
      type: object
      properties:
        value:
          title: Value
          type: integer
        label:
          title: Label
          type: string
          minLength: 1
        items:
          title: Items
          type: string
          readOnly: true
        code:
          title: Code
          type: string
          maxLength: 2
          minLength: 1
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
