openapi: 3.2.0
info:
  title: Jungle Credits API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: Credits
paths:
  /credits/request:
    parameters: []
    get:
      operationId: credits_request_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReturnCreditRequest'
      tags:
      - Credits
      summary: Credits request list
      x-summary-source: derived
    post:
      operationId: credits_request_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCreditRequest'
      tags:
      - Credits
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditRequest'
        required: true
      summary: Credits request create
      x-summary-source: derived
  /credits/request/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this user credit request.
      required: true
      schema:
        type: integer
    get:
      operationId: credits_request_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCreditRequest'
      tags:
      - Credits
      summary: Credits request read
      x-summary-source: derived
    put:
      operationId: credits_request_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCreditRequest'
      tags:
      - Credits
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditRequest'
        required: true
      summary: Credits request update
      x-summary-source: derived
    patch:
      operationId: credits_request_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCreditRequest'
      tags:
      - Credits
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditRequest'
        required: true
      summary: Credits request partial update
      x-summary-source: derived
    delete:
      operationId: credits_request_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Credits
      summary: Credits request delete
      x-summary-source: derived
components:
  schemas:
    ReturnCreditRequest:
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        amount:
          title: Amount
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        status:
          title: Status
          type: string
          enum:
          - accepted
          - declined
          - pending
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
    CreditRequest:
      type: object
      properties:
        amount:
          title: Amount
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        status:
          title: Status
          type: string
          enum:
          - accepted
          - declined
          - pending
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
