openapi: 3.2.0
info:
  title: Jungle Matches API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: Matches
paths:
  /matches:
    parameters: []
    get:
      operationId: matches_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Match'
      tags:
      - Matches
      summary: Matches list
      x-summary-source: derived
    post:
      operationId: matches_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Match'
      tags:
      - Matches
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Match'
        required: true
      summary: Matches create
      x-summary-source: derived
  /matches/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this match.
      required: true
      schema:
        type: integer
    get:
      operationId: matches_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Match'
      tags:
      - Matches
      summary: Matches read
      x-summary-source: derived
    put:
      operationId: matches_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Match'
      tags:
      - Matches
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Match'
        required: true
      summary: Matches update
      x-summary-source: derived
    patch:
      operationId: matches_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Match'
      tags:
      - Matches
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Match'
        required: true
      summary: Matches partial update
      x-summary-source: derived
    delete:
      operationId: matches_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - Matches
      summary: Matches delete
      x-summary-source: derived
components:
  schemas:
    Match:
      type: object
      properties:
        values_match:
          title: Values match
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        personalities_match:
          title: Personalities match
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        technical_skill:
          title: Technical skill
          type: integer
          maximum: 2147483647
          minimum: -2147483648
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
