openapi: 3.2.0
info:
  title: Jungle Work Experience API
  description: Here magic happens
  termsOfService: https://www.google.com/policies/terms/
  contact:
    email: mindru.ion97@gmail.com
  license:
    name: BSD License
  version: v1
servers:
- url: https://api.nobueno.com/api
security:
- Bearer: []
- Device-type: []
- REFETCH_SCHEMA_WITH_AUTH: []
- x-app-id: []
- x-scheme: []
tags:
- name: work-experience
paths:
  /work-experience:
    parameters: []
    get:
      operationId: work-experience_list
      description: ''
      parameters:
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobSeekerWorkExperience'
      tags:
      - work-experience
      summary: Work experience list
      x-summary-source: derived
    post:
      operationId: work-experience_create
      description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSeekerWorkExperience'
      tags:
      - work-experience
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobSeekerWorkExperience'
        required: true
      summary: Work experience create
      x-summary-source: derived
  /work-experience/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this job seeker work experience.
      required: true
      schema:
        type: integer
    get:
      operationId: work-experience_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSeekerWorkExperience'
      tags:
      - work-experience
      summary: Work experience read
      x-summary-source: derived
    put:
      operationId: work-experience_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSeekerWorkExperience'
      tags:
      - work-experience
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobSeekerWorkExperience'
        required: true
      summary: Work experience update
      x-summary-source: derived
    patch:
      operationId: work-experience_partial_update
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSeekerWorkExperience'
      tags:
      - work-experience
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobSeekerWorkExperience'
        required: true
      summary: Work experience partial update
      x-summary-source: derived
    delete:
      operationId: work-experience_delete
      description: ''
      responses:
        '204':
          description: ''
      tags:
      - work-experience
      summary: Work experience delete
      x-summary-source: derived
components:
  schemas:
    JobSeekerWorkExperience:
      required:
      - title
      - company
      - start_date
      type: object
      properties:
        id:
          title: Id
          type: integer
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
        title:
          title: Title
          type: string
          maxLength: 300
          minLength: 1
        company:
          title: Company
          type: string
          maxLength: 190
          minLength: 1
        start_date:
          title: Start date
          type: string
          format: date
        end_date:
          title: End date
          type:
          - string
          - 'null'
          format: date
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
    Device-type:
      type: apiKey
      name: Device-Type
      in: header
    x-scheme:
      type: apiKey
      name: x-scheme
      in: header
    x-app-id:
      type: apiKey
      name: x-app-id
      in: header
