{"swagger": "2.0", "info": {"title": "Jungle API", "description": "Here magic happens", "termsOfService": "https://www.google.com/policies/terms/", "contact": {"email": "mindru.ion97@gmail.com"}, "license": {"name": "BSD License"}, "version": "v1"}, "host": "api.nobueno.com", "schemes": ["https"], "basePath": "/api", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Bearer": {"type": "apiKey", "name": "Authorization", "in": "header"}, "Device-type": {"type": "apiKey", "name": "Device-Type", "in": "header"}, "x-scheme": {"type": "apiKey", "name": "x-scheme", "in": "header"}, "x-app-id": {"type": "apiKey", "name": "x-app-id", "in": "header"}, "REFETCH_SCHEMA_WITH_AUTH": true}, "security": [{"Bearer": []}, {"Device-type": []}, {"REFETCH_SCHEMA_WITH_AUTH": []}, {"x-app-id": []}, {"x-scheme": []}], "paths": {"/admin/companies": {"get": {"operationId": "admin_companies_list", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "jobs", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__date", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__gte", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__lte", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__gt", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__lt", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "country", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "city", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "len_employers", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "external_recruiter", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "in_house_recruiter", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AdminCompany"}}}}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": []}, "/admin/companies/jobs/{id}": {"get": {"operationId": "admin_companies_jobs_retrieve", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AdminReturnJobRetrieve"}}}}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/admin/companies/jobs/{id}/match-rates": {"get": {"operationId": "admin_companies_jobs_job_match_rates", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AdminCompany"}}}}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/admin/companies/jobs/{id}/values-personality": {"get": {"operationId": "admin_companies_jobs_job_values_personality", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AdminCompany"}}}}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/admin/companies/{id}": {"get": {"operationId": "admin_companies_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminCompany"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "delete": {"operationId": "admin_companies_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/admin/companies/{id}/companies": {"get": {"operationId": "admin_companies_companies", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminCompanyChild"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/admin/companies/{id}/jobs": {"get": {"operationId": "admin_companies_jobs", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminCompanyJobs"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/admin/companies/{id}/owner": {"get": {"operationId": "admin_companies_company_owner", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminEmployer"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company.", "required": true, "type": "integer"}]}, "/admin/credits/request": {"get": {"operationId": "admin_credits_request_list", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "status", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AdminCreditRequest"}}}}}}, "tags": ["admin"]}, "post": {"operationId": "admin_credits_request_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminCreditRequest"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AdminCreditRequest"}}}, "tags": ["admin"]}, "parameters": []}, "/admin/credits/request/{id}": {"get": {"operationId": "admin_credits_request_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminCreditRequest"}}}, "tags": ["admin"]}, "put": {"operationId": "admin_credits_request_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminCreditRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminCreditRequest"}}}, "tags": ["admin"]}, "patch": {"operationId": "admin_credits_request_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminCreditRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminCreditRequest"}}}, "tags": ["admin"]}, "delete": {"operationId": "admin_credits_request_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user credit request.", "required": true, "type": "integer"}]}, "/admin/database/disciplines": {"get": {"operationId": "admin_database_disciplines_list", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "status", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__date", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__gte", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__lte", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__gt", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__lt", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ReturnDiscipline"}}}}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "post": {"operationId": "admin_database_disciplines_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReturnDiscipline"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ReturnDiscipline"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": []}, "/admin/database/disciplines/{id}": {"get": {"operationId": "admin_database_disciplines_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnDiscipline"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "put": {"operationId": "admin_database_disciplines_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReturnDiscipline"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnDiscipline"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "patch": {"operationId": "admin_database_disciplines_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReturnDiscipline"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnDiscipline"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "delete": {"operationId": "admin_database_disciplines_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this discipline.", "required": true, "type": "integer"}]}, "/admin/database/disciplines/{id}/replace": {"post": {"operationId": "admin_database_disciplines_replace", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Replace"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SuccessResponse"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this discipline.", "required": true, "type": "integer"}]}, "/admin/database/roles": {"get": {"operationId": "admin_database_roles_list", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "status", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__date", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__gte", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__lte", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__gt", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__lt", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ReturnAdminJobRole"}}}}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "post": {"operationId": "admin_database_roles_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/JobRole"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ReturnAdminJobRole"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": []}, "/admin/database/roles-categories": {"get": {"operationId": "admin_database_roles-categories_list", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "created_at__date", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__gte", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__lte", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__gt", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__lt", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ReturnAdminJobRoleCategory"}}}}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "post": {"operationId": "admin_database_roles-categories_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReturnAdminJobRoleCategory"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ReturnAdminJobRoleCategory"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": []}, "/admin/database/roles-categories/{id}": {"get": {"operationId": "admin_database_roles-categories_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnAdminJobRoleCategory"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "put": {"operationId": "admin_database_roles-categories_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReturnAdminJobRoleCategory"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnAdminJobRoleCategory"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "patch": {"operationId": "admin_database_roles-categories_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReturnAdminJobRoleCategory"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnAdminJobRoleCategory"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "delete": {"operationId": "admin_database_roles-categories_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this role category.", "required": true, "type": "integer"}]}, "/admin/database/roles/{id}": {"get": {"operationId": "admin_database_roles_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnAdminJobRole"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "put": {"operationId": "admin_database_roles_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/JobRole"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnAdminJobRole"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "patch": {"operationId": "admin_database_roles_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/JobRole"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnAdminJobRole"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "delete": {"operationId": "admin_database_roles_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this job role.", "required": true, "type": "integer"}]}, "/admin/database/roles/{id}/replace": {"post": {"operationId": "admin_database_roles_replace", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Replace"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SuccessResponse"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this job role.", "required": true, "type": "integer"}]}, "/admin/database/skill-categories": {"get": {"operationId": "admin_database_skill-categories_list", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "created_at__date", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__gte", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__lte", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__gt", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__lt", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/SkillCategory"}}}}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "post": {"operationId": "admin_database_skill-categories_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SkillCategory"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SkillCategory"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": []}, "/admin/database/skill-categories/{id}": {"get": {"operationId": "admin_database_skill-categories_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SkillCategory"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "put": {"operationId": "admin_database_skill-categories_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SkillCategory"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SkillCategory"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "patch": {"operationId": "admin_database_skill-categories_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SkillCategory"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SkillCategory"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "delete": {"operationId": "admin_database_skill-categories_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this skill category.", "required": true, "type": "integer"}]}, "/admin/database/skills": {"get": {"operationId": "admin_database_skills_list", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "status", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "type", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__date", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__gte", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__lte", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__gt", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__lt", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Skill"}}}}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "post": {"operationId": "admin_database_skills_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Skill"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Skill"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": []}, "/admin/database/skills/{id}": {"get": {"operationId": "admin_database_skills_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Skill"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "put": {"operationId": "admin_database_skills_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Skill"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Skill"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "patch": {"operationId": "admin_database_skills_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Skill"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Skill"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "delete": {"operationId": "admin_database_skills_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this skill.", "required": true, "type": "integer"}]}, "/admin/database/skills/{id}/replace": {"post": {"operationId": "admin_database_skills_replace", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Replace"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SuccessResponse"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this skill.", "required": true, "type": "integer"}]}, "/admin/fields": {"get": {"operationId": "admin_fields_list", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "step", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "field_type", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "device", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "priority", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AdminField"}}}}}}, "tags": ["admin"]}, "post": {"operationId": "admin_fields_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CustomField"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AdminField"}}}, "tags": ["admin"]}, "parameters": []}, "/admin/fields/{id}": {"get": {"operationId": "admin_fields_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminField"}}}, "tags": ["admin"]}, "put": {"operationId": "admin_fields_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CustomField"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminField"}}}, "tags": ["admin"]}, "patch": {"operationId": "admin_fields_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CustomField"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminField"}}}, "tags": ["admin"]}, "delete": {"operationId": "admin_fields_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this custom field.", "required": true, "type": "integer"}]}, "/admin/files": {"get": {"operationId": "admin_files_list", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "id", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "status", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_by", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AdminBackgroundTask"}}}}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "post": {"operationId": "admin_files_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminBackgroundTask"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AdminBackgroundTask"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": []}, "/admin/files/{id}": {"get": {"operationId": "admin_files_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminBackgroundTask"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "put": {"operationId": "admin_files_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminBackgroundTask"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminBackgroundTask"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "patch": {"operationId": "admin_files_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminBackgroundTask"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminBackgroundTask"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "delete": {"operationId": "admin_files_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this admin background task.", "required": true, "type": "integer"}]}, "/admin/jobs": {"get": {"operationId": "admin_jobs_list", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "review", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "is_active", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AdminJob"}}}}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": []}, "/admin/jobs/{id}": {"get": {"operationId": "admin_jobs_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnJobRetrieve"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "put": {"operationId": "admin_jobs_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminJob"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminJob"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "patch": {"operationId": "admin_jobs_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminJob"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminJob"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "delete": {"operationId": "admin_jobs_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this job.", "required": true, "type": "integer"}]}, "/admin/jobs/{id}/email_recruiter": {"post": {"operationId": "admin_jobs_email_recruiter", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminEmailJobRecruiter"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AdminEmailJobRecruiter"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this job.", "required": true, "type": "integer"}]}, "/admin/jobs/{id}/review": {"patch": {"operationId": "admin_jobs_review", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminJobReview"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminJob"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this job.", "required": true, "type": "integer"}]}, "/admin/stats/users": {"get": {"operationId": "admin_stats_users_list", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "role", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AdminUserSummary"}}}}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": []}, "/admin/stats/users/from_db": {"post": {"operationId": "admin_stats_users_summary_from_db", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReturnAdminStats"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ReturnAdminStats"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": []}, "/admin/stats/users/summary": {"post": {"operationId": "admin_stats_users_summary", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminBackgroundTask"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AdminBackgroundTask"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": []}, "/admin/user_block": {"get": {"operationId": "admin_user_block_list", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "block", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AdminUserBlock"}}}}}}, "tags": ["admin"]}, "post": {"operationId": "admin_user_block_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminUserBlock"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AdminUserBlock"}}}, "tags": ["admin"]}, "parameters": []}, "/admin/user_block/{id}": {"get": {"operationId": "admin_user_block_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminUserBlock"}}}, "tags": ["admin"]}, "put": {"operationId": "admin_user_block_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminUserBlock"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminUserBlock"}}}, "tags": ["admin"]}, "patch": {"operationId": "admin_user_block_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminUserBlock"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminUserBlock"}}}, "tags": ["admin"]}, "delete": {"operationId": "admin_user_block_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user block.", "required": true, "type": "integer"}]}, "/admin/user_report": {"get": {"operationId": "admin_user_report_list", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "status", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "reason", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AdminUserReport"}}}}}}, "tags": ["admin"]}, "post": {"operationId": "admin_user_report_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserReport"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AdminUserReport"}}}, "tags": ["admin"]}, "parameters": []}, "/admin/user_report/{id}": {"get": {"operationId": "admin_user_report_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminUserReport"}}}, "tags": ["admin"]}, "put": {"operationId": "admin_user_report_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserReport"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminUserReport"}}}, "tags": ["admin"]}, "patch": {"operationId": "admin_user_report_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserReport"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminUserReport"}}}, "tags": ["admin"]}, "delete": {"operationId": "admin_user_report_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user report.", "required": true, "type": "integer"}]}, "/admin/users": {"get": {"operationId": "admin_users_list", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "country", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "city", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "is_blocked", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "role", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__date", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__gte", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__lte", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__gt", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_at__lt", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AdminUser"}}}}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": []}, "/admin/users/employments": {"get": {"operationId": "admin_users_employments_list", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "date_joined", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "role", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ReturnUserEmployment"}}}}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "post": {"operationId": "admin_users_employments_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminUserEmployment"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ReturnUserEmployment"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": []}, "/admin/users/employments/{id}": {"get": {"operationId": "admin_users_employments_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnUserEmployment"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "put": {"operationId": "admin_users_employments_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminUserEmployment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnUserEmployment"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "patch": {"operationId": "admin_users_employments_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminUserEmployment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnUserEmployment"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "delete": {"operationId": "admin_users_employments_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user employment.", "required": true, "type": "integer"}]}, "/admin/users/employments/{id}/review": {"patch": {"operationId": "admin_users_employments_review", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminUserEmployment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnUserEmployment"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user employment.", "required": true, "type": "integer"}]}, "/admin/users/{id}": {"get": {"operationId": "admin_users_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminUser"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "delete": {"operationId": "admin_users_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user.", "required": true, "type": "integer"}]}, "/admin/users/{id}/add-credits": {"patch": {"operationId": "admin_users_add_credits", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminCredit"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnCredit"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user.", "required": true, "type": "integer"}]}, "/admin/users/{id}/block": {"post": {"operationId": "admin_users_block", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SuccessResponse"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AdminUser"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user.", "required": true, "type": "integer"}]}, "/admin/users/{id}/extra-information": {"get": {"operationId": "admin_users_extra_information", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminCandidateExtraInformation"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user.", "required": true, "type": "integer"}]}, "/admin/users/{id}/match-rates": {"get": {"operationId": "admin_users_match_rates", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/MobileStepMatchRate"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user.", "required": true, "type": "integer"}]}, "/admin/users/{id}/messages": {"get": {"operationId": "admin_users_messenger_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnMessenger"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user.", "required": true, "type": "integer"}]}, "/admin/users/{id}/personal-information": {"get": {"operationId": "admin_users_personal_information", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/StepPersonalInformation"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user.", "required": true, "type": "integer"}]}, "/admin/users/{id}/unblock": {"post": {"operationId": "admin_users_unblock", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SuccessResponse"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AdminUser"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user.", "required": true, "type": "integer"}]}, "/admin/users/{id}/values-personality": {"get": {"operationId": "admin_users_values_personality", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/StepPersonalInformation"}}}, "produces": ["application/json", "text/csv"], "tags": ["admin"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user.", "required": true, "type": "integer"}]}, "/bitcoin": {"get": {"operationId": "bitcoin_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Crypto"}}}}}}, "tags": ["bitcoin"]}, "parameters": []}, "/categories/list": {"get": {"operationId": "categories_list_dropdown", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/RoleCategory"}}}}}}, "tags": ["categories"]}, "parameters": []}, "/categories/{id}": {"get": {"operationId": "categories_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/RoleCategory"}}}, "tags": ["categories"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this role category.", "required": true, "type": "integer"}]}, "/cities": {"get": {"operationId": "cities_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/City"}}}}}}, "tags": ["cities"]}, "parameters": []}, "/cities/autocomplete": {"get": {"operationId": "cities_autocomplete", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "Autocomplete", "schema": {"$ref": "#/definitions/Autocomplete"}}}, "tags": ["cities"]}, "parameters": []}, "/cities/list": {"get": {"operationId": "cities_list_dropdown", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CityList"}}}}}}, "tags": ["cities"]}, "parameters": []}, "/cities/{id}": {"get": {"operationId": "cities_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/City"}}}, "tags": ["cities"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this city.", "required": true, "type": "integer"}]}, "/companies": {"get": {"operationId": "companies_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Company"}}}}}}, "tags": ["companies"]}, "post": {"operationId": "companies_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Company"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "parameters": []}, "/companies/all": {"get": {"operationId": "companies_companies_for_employment", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Company"}}}}}}, "tags": ["companies"]}, "parameters": []}, "/companies/list": {"get": {"operationId": "companies_companies_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Company"}}}}}}, "tags": ["companies"]}, "parameters": []}, "/companies/media": {"get": {"operationId": "companies_media_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "company__title", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ReturnCompanyMedia"}}}}}}, "tags": ["companies"]}, "post": {"operationId": "companies_media_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanyMedia"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ReturnCompanyMedia"}}}, "tags": ["companies"]}, "parameters": []}, "/companies/media/list": {"get": {"operationId": "companies_media_companies_media_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "company__title", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ReturnCompanyMedia"}}}}}}, "tags": ["companies"]}, "parameters": []}, "/companies/media/{id}": {"get": {"operationId": "companies_media_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnCompanyMedia"}}}, "tags": ["companies"]}, "put": {"operationId": "companies_media_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanyMedia"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnCompanyMedia"}}}, "tags": ["companies"]}, "patch": {"operationId": "companies_media_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CompanyMedia"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnCompanyMedia"}}}, "tags": ["companies"]}, "delete": {"operationId": "companies_media_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["companies"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this company media.", "required": true, "type": "integer"}]}, "/companies/{title}": {"get": {"operationId": "companies_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "put": {"operationId": "companies_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Company"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "patch": {"operationId": "companies_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Company"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["companies"]}, "delete": {"operationId": "companies_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["companies"]}, "parameters": [{"name": "title", "in": "path", "required": true, "type": "string"}]}, "/countries": {"get": {"operationId": "countries_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CountryWithoutCities"}}}}}}, "tags": ["countries"]}, "parameters": []}, "/countries/list": {"get": {"operationId": "countries_list_action", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "autocomplete", "in": "query", "required": false, "type": "string", "minLength": 1}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CountryList"}}}}}}, "tags": ["countries"]}, "parameters": []}, "/credits/request": {"get": {"operationId": "credits_request_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ReturnCreditRequest"}}}}}}, "tags": ["credits"]}, "post": {"operationId": "credits_request_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreditRequest"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ReturnCreditRequest"}}}, "tags": ["credits"]}, "parameters": []}, "/credits/request/{id}": {"get": {"operationId": "credits_request_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnCreditRequest"}}}, "tags": ["credits"]}, "put": {"operationId": "credits_request_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreditRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnCreditRequest"}}}, "tags": ["credits"]}, "patch": {"operationId": "credits_request_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreditRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnCreditRequest"}}}, "tags": ["credits"]}, "delete": {"operationId": "credits_request_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["credits"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user credit request.", "required": true, "type": "integer"}]}, "/currencies": {"get": {"operationId": "currencies_list", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Currency"}}}}, "tags": ["currencies"]}, "parameters": []}, "/currencies/convert": {"get": {"operationId": "currencies_convert", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "type", "in": "query", "required": false, "type": "string", "enum": ["yearly", "monthly"], "x-nullable": true}, {"name": "currency", "in": "query", "required": true, "type": "string", "minLength": 1}, {"name": "value", "in": "query", "required": true, "type": "number", "maximum": 1000000000}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Currency"}}}}, "tags": ["currencies"]}, "parameters": []}, "/devices/": {"get": {"operationId": "devices_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/FCMDevice"}}}}}}, "tags": ["devices"]}, "post": {"operationId": "devices_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FCMDevice"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/FCMDevice"}}}, "tags": ["devices"]}, "parameters": []}, "/devices/{id}/": {"get": {"operationId": "devices_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/FCMDevice"}}}, "tags": ["devices"]}, "put": {"operationId": "devices_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FCMDevice"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/FCMDevice"}}}, "tags": ["devices"]}, "patch": {"operationId": "devices_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FCMDevice"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/FCMDevice"}}}, "tags": ["devices"]}, "delete": {"operationId": "devices_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["devices"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this FCM device.", "required": true, "type": "integer"}]}, "/fields/{step}": {"get": {"operationId": "fields_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnCustomField"}}}, "tags": ["fields"]}, "parameters": [{"name": "step", "in": "path", "required": true, "type": "string"}]}, "/forgot": {"post": {"operationId": "forgot_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Email"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Email"}}}, "tags": ["forgot"]}, "parameters": []}, "/forgot/confirm": {"post": {"operationId": "forgot_confirm_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CustomPasswordToken"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CustomPasswordToken"}}}, "tags": ["forgot"]}, "parameters": []}, "/forgot/validate_token": {"post": {"operationId": "forgot_validate_token_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ResetToken"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ResetToken"}}}, "tags": ["forgot"]}, "parameters": []}, "/jobs": {"get": {"operationId": "jobs_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ReturnJob"}}}}}}, "tags": ["jobs"]}, "post": {"operationId": "jobs_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Job"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ReturnJob"}}}, "tags": ["jobs"]}, "parameters": []}, "/jobs/candidate-matches/{match_id}": {"delete": {"operationId": "jobs_delete_candidate_match", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["jobs"]}, "parameters": [{"name": "match_id", "in": "path", "required": true, "type": "string"}]}, "/jobs/counts": {"get": {"operationId": "jobs_counts", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ReturnCountJob"}}}}}}, "tags": ["jobs"]}, "parameters": []}, "/jobs/disciplines": {"get": {"operationId": "jobs_disciplines_read", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ReturnDiscipline"}}}}}}, "tags": ["jobs"]}, "post": {"operationId": "jobs_disciplines_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Discipline"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ReturnDiscipline"}}}, "tags": ["jobs"]}, "parameters": []}, "/jobs/disciplines/{id}/notify": {"patch": {"operationId": "jobs_disciplines_discipline_notify", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Job"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnJob"}}}, "tags": ["jobs"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this job.", "required": true, "type": "integer"}]}, "/jobs/last_job_details": {"get": {"operationId": "jobs_last_job_details", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ReturnValuePersonality"}}}}}}, "tags": ["jobs"]}, "parameters": []}, "/jobs/list": {"get": {"operationId": "jobs_job_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ReturnJobList"}}}}}}, "tags": ["jobs"]}, "parameters": []}, "/jobs/matches": {"get": {"operationId": "jobs_matches", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ReturnJob"}}}}}}, "tags": ["jobs"]}, "parameters": []}, "/jobs/matches-results": {"get": {"operationId": "jobs_retrieve_matches_results", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CandidatesForJob"}}}}}}, "tags": ["jobs"]}, "parameters": []}, "/jobs/{id}": {"get": {"operationId": "jobs_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnJobRetrieve"}}}, "tags": ["jobs"]}, "put": {"operationId": "jobs_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Job"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnJob"}}}, "tags": ["jobs"]}, "patch": {"operationId": "jobs_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Job"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnJob"}}}, "tags": ["jobs"]}, "delete": {"operationId": "jobs_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["jobs"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this job.", "required": true, "type": "integer"}]}, "/jobs/{id}/candidate-matches": {"get": {"operationId": "jobs_candidate_matches", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CandidatesForJob"}}}, "tags": ["jobs"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this job.", "required": true, "type": "integer"}]}, "/jobs/{id}/candidates": {"get": {"operationId": "jobs_candidates", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CandidatesForJob"}}}, "tags": ["jobs"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this job.", "required": true, "type": "integer"}]}, "/jobs/{id}/candidates/{candidate_id}/change_status": {"patch": {"operationId": "jobs_candidates_change_status_candidates", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/JobCandidateMatch"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SuccessResponse"}}}, "tags": ["jobs"]}, "parameters": [{"name": "candidate_id", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "description": "A unique integer value identifying this job.", "required": true, "type": "integer"}]}, "/jobs/{id}/matches-results": {"get": {"operationId": "jobs_matches_results", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CandidatesForJob"}}}, "tags": ["jobs"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this job.", "required": true, "type": "integer"}]}, "/jobs/{id}/matches/salary": {"get": {"operationId": "jobs_matches_salary_match", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnJob"}}}, "tags": ["jobs"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this job.", "required": true, "type": "integer"}]}, "/jobs/{id}/notify": {"patch": {"operationId": "jobs_notify", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Job"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnJob"}}}, "tags": ["jobs"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this job.", "required": true, "type": "integer"}]}, "/jobs/{id}/salary": {"get": {"operationId": "jobs_salary", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnJob"}}}, "tags": ["jobs"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this job.", "required": true, "type": "integer"}]}, "/jobs/{id}/share": {"post": {"operationId": "jobs_share_job", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Job"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ShareJob"}}}, "tags": ["jobs"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this job.", "required": true, "type": "integer"}]}, "/languages": {"get": {"operationId": "languages_list", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "title", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Language"}}}}}}, "tags": ["languages"]}, "parameters": []}, "/login": {"post": {"operationId": "login_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Login"}}], "responses": {"200": {"description": "Respond with jwt access&refresh token", "schema": {"$ref": "#/definitions/ReturnJWTTokens"}}}, "tags": ["login"]}, "parameters": []}, "/matches": {"get": {"operationId": "matches_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Match"}}}}}}, "tags": ["matches"]}, "post": {"operationId": "matches_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Match"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Match"}}}, "tags": ["matches"]}, "parameters": []}, "/matches/{id}": {"get": {"operationId": "matches_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Match"}}}, "tags": ["matches"]}, "put": {"operationId": "matches_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Match"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Match"}}}, "tags": ["matches"]}, "patch": {"operationId": "matches_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Match"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Match"}}}, "tags": ["matches"]}, "delete": {"operationId": "matches_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["matches"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this match.", "required": true, "type": "integer"}]}, "/me": {"get": {"operationId": "me_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["me"]}, "patch": {"operationId": "me_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Step"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Step"}}}, "tags": ["me"]}, "parameters": []}, "/me/counts": {"get": {"operationId": "me_counts_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Counts"}}}, "tags": ["me"]}, "parameters": []}, "/messages": {"get": {"operationId": "messages_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ReturnMessenger"}}}}}}, "tags": ["messages"]}, "post": {"operationId": "messages_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Messenger"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ReturnMessenger"}}}, "tags": ["messages"]}, "parameters": []}, "/messages/{id}": {"get": {"operationId": "messages_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnChat"}}}, "tags": ["messages"]}, "put": {"operationId": "messages_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Messenger"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnMessenger"}}}, "tags": ["messages"]}, "patch": {"operationId": "messages_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Messenger"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnMessenger"}}}, "tags": ["messages"]}, "delete": {"operationId": "messages_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["messages"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user messenger.", "required": true, "type": "integer"}]}, "/messages/{id}/read_messages": {"post": {"operationId": "messages_read_messages", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Messenger"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ReturnMessenger"}}}, "tags": ["messages"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user messenger.", "required": true, "type": "integer"}]}, "/messages/{id}/retrieve": {"get": {"operationId": "messages_retrieve_messenger", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReturnMessenger"}}}, "tags": ["messages"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user messenger.", "required": true, "type": "integer"}]}, "/messages/{id}/review": {"post": {"operationId": "messages_review", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Review"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SuccessResponse"}}}, "tags": ["messages"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user messenger.", "required": true, "type": "integer"}]}, "/messages/{id}/send-message": {"post": {"operationId": "messages_send_message", "description": "", "parameters": [{"name": "files", "in": "formData", "required": false, "type": "array", "items": {"type": "string", "minLength": 1}, "x-nullable": true}, {"name": "message", "in": "formData", "required": false, "type": "string", "x-nullable": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ShowUploadFiles"}}}, "consumes": ["multipart/form-data"], "tags": ["messages"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this user messenger.", "required": true, "type": "integer"}]}, "/notifications": {"get": {"operationId": "notifications_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "read", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "perPage", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Notification"}}}}}}, "tags": ["notifications"]}, "parameters": []}, "/notifications/{id}": {"get": {"operationId": "notifications_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Notification"}}}, "ta
[...]
